@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color1: #F4F4ED;
    --color2: #72DDF7;
    --color3: #8093F1;
    --color4: #B388EB;
    --color5: #F7AEF8;
    --font-color-main: black;
    --font-color-secondary: #F4F4ED;
    --background-color: var(--color1);
    --title-font: libre-baskerville;
    --height-background: 90vh;
    --width-background: 80vh;
    --border-radius-background: 25px;
    --border-radius: 15px;
    --padding-background: 10px;
    --font-main: montserrat;
    --button-color: var(--color5);
    --margin-label: 20px;
    --margin-input: 5px;
}

.home {
    background-color: var(--background-color);
    color: var(--font-color-main);
    font-family: var(--font-main);
    min-height: var(--height-background);
    min-width: var(--width-background);
    border-radius: var(--border-radius-background);
    padding: var(--padding-background);
}

.home h1,h2,h3 { 
    font-family: var(--title-font);
}

.button-jas {
    background-color: var(--button-color) !important;
    color: var(--font-color-main) !important;
    border-radius: var(--border-radius);
    padding: 5px;
    margin: 10px;
    min-width: 150px;
    min-height: 35px;
    border: none;
}
.button-jas:hover {
    background-color: var(--color3) !important;
    color: var(--font-color-secondary) !important;
}

.tablejas {
    border: 1px solid #000;
}

